#A {
    padding: 10em 6em 6em;
    background-color: $pure-white;
    @include responsive(md) {
        padding: 8em 2em 4em;
    }
    @include responsive(sm) {
        padding: 6em 1em 3em;
    }
    .col-sm-4 {
        padding-left: 3em;
        padding-right: 3em;
        @include responsive(md) {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
        > * {
            @include center;
        }
    }
    img {
        width: 120px;
        height: 120px;
    }
    span {
        color: $dark-grey;
        @include font(18px);
        margin: 3em 0;
    }
}
#B {
    padding: 6em 3em 8em;
    background-color: $milk-white;
    color: $pure-grey;
    text-align: center;
    span {
        @include font(42px);
        i {
            font-size: 50px;
        }
    }
    #hr-container {
        @include center;
        margin-top: 2em;
        width: 76%;
        hr {
            border-top: 4.2px double;
            width: 45%;
            margin-top: 12px;
        }
    }
    #hr-left {
        float: left;
    }
    #hr-right {
        float: right;
    }
    #img-container {
        display: flex;
        justify-content: center;
        margin-top: 2.5em;
    }
    #img-left {
        margin-right: 1.75em;
    }
    #img-up {
        margin-bottom: 1.5em;
    }
}
#C {
    @extend #A;
    padding-top: 6em;
    .col-sm-6 > * {
        @include center;
        text-align: center;
    }
    span {
        margin: 1.25em 0 3.75em;
    }
}