//Palette using variables
//http://koerino.github.io/colour-palette/

$light-red: #FF6464;
$mint-green: #69F0AE; 
$pure-white: #FFFFFF;
$milk-white: #FAFAFA;
$pure-grey: #9E9E9E;
$dark-grey: #616161;
$pure-black: #000000;