//Palette using variables

//reddish
$light-red: #FF6464;
$pink-red: #FF304F;
$light-pink: #F7A7A6;
$soft-pink: #F48B94;
$pure-pink: #F6358A;
$scarlet: #FF2400;
$deep-red: #F70D1A;
$wine-red: #990012;
$pure-purple: #AD64C5;
$deep-purple: #422B72;
    
//yellowish
$flour: #FEFAEC; 
$light-yellow: #FFFFC2;
$pure-yellow: #FFFF00;
$caramel: #FFE082;
$soft-orange: #FDD285;
$pure-orange: #FF7043;

//blueish
$light-slate: #CCFFFF;
$electric-blue: #9AFEFF;
$robin-egg-blue: #BDEDFF;
$light-blue: #80D6FF;
$sky-blue: #00C3FF; 
$blue-ivy: #3090C7;
$dark-blue: #0000A0;
$navy-blue: #000080;
$teal-blue: #002C6A;
$light-cyan: #E0FFFF;
$soft-cyan: #80E5E9;
$blue-cyan: #4EE2EC; 
$green-cyan: #2CC4CB;
$pure-cyan: #00BCD4;
$dark-cyan: #1972A4;

//greenish
$light-green: #9DFDC7; 
$mint-green: #69F0AE; 
$pure-green: #00E676;
$cold-green: #ACDBC9;
$pale-green: #A9EEE6;
$soft-green: #73F7DD;
$cyan-green: #64FFDA;
$vivid-green: #1DE9B6;
$dark-green: #166678;

//black; grey and white - best for fonts
$pure-white: #FFFFFF;
$milk-white: #FAFAFA;
$pale-grey: #F5F5F5;
$platinum: #E5E4E2;
$exlight-grey: #C1C7C9;
$light-grey: #B3B3B3;  
$pure-grey: #828282;
$dark-grey: #616161;
$pure-black: #000000;