@import url(https://fonts.googleapis.com/css?family=Ubuntu);

//Default font-size is 16px, font-weight is 400, font-family is Ubuntu, sans-serif
@mixin font($size: 16px, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
    font-family: 'Ubuntu';
}

//CSS3 transition
@mixin transition($options...) {
    -webkit-transition: $options;
    -moz-transition: $options;
    -o-transition: $options;
    transition: $options;
}

//2D transformations
@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y); 
    transform: translate($x, $y);
}

//border radius; circles
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

//center elements using flex display
@mixin center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

//button-like links base style
@mixin button-like($colour, $font-size) {
    @include font($font-size);
    @include border-radius(10px);
    text-decoration: none;
    color: $pure-white;
    background-color: $colour;
    padding: 0.75em 2em;
    &:hover {
        background-color: darken($colour, 5%);
        cursor: pointer;
    }
}

//hover effect for links
@mixin link($colour) {
    color: $colour;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: darken($colour, 10%);
    }
}