@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Lato);

//Default font-size is 16px, font-weight is 400, font-family is Muli, sans-serif
@mixin font($size: 16px, $weight: 400, $family: Muli) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}

//responsive design breakpoints
@mixin responsive($deviceSize) {
    @if $deviceSize == sm {
        @media screen and (max-width: 767px) {@content}
    }
    @if $deviceSize == md {
        @media screen and (min-width: 768px) and (max-width: 1023px) {@content}
    }
    @if $deviceSize == lg {
        @media screen and (min-width: 1024px) {@content}
    }
}

//center elements using flex display
@mixin center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

//button-like links
@mixin button-like($colour: $pure-white, $font-size: 18px, $opacity: 0.1) {
    @include font($font-size, 400, 'Lato');
    color: $colour;
    padding: 0.75em 1.5em;
    border: 2px solid $colour;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        background-color: rgba($colour, $opacity);
    }
}

//links in footer hover effect
@mixin hover($colour: rgba($pure-white, 0.85)) {
    &:hover {
        cursor: pointer;
        color: $colour;
    }
}