//Palette using variables
//http://koerino.github.io/colour-palette/

$milk-white: #FAFAFA;
$pure-black: #000000;
$soft-cyan: #80E5E9;
$blue-cyan: #4EE2EC; 
$blue-ivy: #3090C7;
$exlight-grey: #F5F5F5;
$light-grey: #B0BEC5; 
$dark-grey: #616161;
$platinum: #E5E4E2;
$pure-cyan: #00BCD4;