//Palette using variables
//http://koerino.github.io/colour-palette/

$milk-white: #FAFAFA;
$pure-black: #000000;
$soft-cyan: #80E5E9;
$blue-cyan: #4EE2EC; 
$exlight-grey: #F5F5F5;
$light-grey: #B0BEC5; 
$dark-grey: #616161;
$platinum: #E5E4E2;


$light-slate: #CCFFFF;
$electric-blue: #9AFEFF;
$robin-egg-blue: #BDEDFF;
$light-blue: #80D6FF;
$sky-blue: #00C3FF; 
$blue-ivy: #3090C7;
$dark-blue: #0000A0;
$navy-blue: #000080;
$teal-blue: #002C6A;
$green-cyan: #2CC4CB;
$pure-cyan: #00BCD4;
$dark-cyan: #1972A4;



