//Palette using variables
//http://koerino.github.io/colour-palette/

$light-red: #FF6464;
$grass-green: #98FF98;
$vivid-green: #1DE9B6;
$pure-white: #FFFFFF;
$milk-white: #FAFAFA;
$pure-grey: #9E9E9E;
$dark-grey: #616161;
$pure-black: #000000;