//Palette using variables
//http://koerino.github.io/colour-palette/

$pure-white: #FFFFFF;
$milk-white: #FAFAFA;
$pure-grey: #9E9E9E;
$dark-grey: #616161;
$pure-black: #000000;
$vivid-green: #1DE9B6;
$cyan-green: #64FFDA;