//Palette using variables
//http://koerino.github.io/colour-palette/
$pure-white: #FFFFFF;
$milk-white: #FAFAFA;
$exlight-grey: #F5F5F5;
$water: #EBF4FA;
$light-grey: #B0BEC5; 
$pure-grey: #9E9E9E;
$blue-ivy: #3090C7;
$soft-cyan: #80E5E9;
$pure-cyan: #00BCD4;
$dark-cyan: #1972A4;
$dark-grey: #616161;
$pure-black: #000000;