#footer-container {
    background-color: $pure-black;
    padding: 1em 0;
    @include font;
    text-align: center;
    .footer-row {
        @include center;
        padding: 0.25em 0;
    }
    .top {
        div {
            margin: 0 1em;
        }
        a {
            @include link($milk-white);
        }
    }
    .links a { 
        margin-right: 1.25em;
    }
    .contacts {
        font-size: 22px;
        a {
            margin-right: 0.75em;
        }
    }
    .bottom {
        color: $pure-grey;
        a {
            @include link($pure-grey);
            margin-right: 1.25em;
        }
    }
}